/.idea
/cmake-build
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
/build
/.vs
/.cache
/out
/output
/src/managed/VoxelSandboxManaged/obj
/src/managed/VoxelSandboxManaged/Properties
/src/managed/VoxelSandboxManaged/bin
/src/managed/VoxelSandboxManaged/.vs
/src/managed/VoxelSandboxManaged/VoxelSandboxManaged.csproj.user
/src/managed/VoxelSandboxManaged/VoxelSandboxManaged.sln.DotSettings.user
/src/managed/DefaultMod/obj
/src/managed/DefaultMod/bin
/src/managed/DefaultMod/.vs
/src/managed/DefaultMod/Properties
/src/managed/CodeGen/obj
/src/managed/CodeGen/bin
/src/managed/CodeGen/.vs
/_deps
/CMakeFiles
